# Dependency directories
node_modules/

# Clarinet local state
.clarinet/
deployments/*.local-plan.yaml
settings/

# Build artifacts
dist/
.cache/

# OS files
.DS_Store
Thumbs.db

# Sensitive local files
.env
.env.local
.secret

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

